<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIdentifier</key>
	<string>com.ustwo.US2FormValidationFramework</string>
	<key>CFBundleName</key>
	<string>US2FormValidationFramework Documentation</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	
	
	
	<key>DocSetFallbackURL</key>
	<string>http://ustwo.github.com/US2FormValidationFramework/</string>
	<key>DocSetFeedName</key>
	<string>US2FormValidationFramework Documentation</string>
	<key>DocSetFeedURL</key>
	<string>http://ustwo.github.com/US2FormValidationFramework/US2FormValidationFramework</string>
	<key>DocSetMinimumXcodeVersion</key>
	<string>3.0</string>
	
	<key>DashDocSetFamily</key>
	<string>appledoc</string>
	<key>DocSetPublisherIdentifier</key>
	<string>com.ustwo.documentation</string>
	<key>DocSetPublisherName</key>
	<string>ustwo™</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2012 ustwo™. All rights reserved.</string>
</dict>
</plist>
